.idea
.venv
__pycache__
*.pyc
build
dist
*.egg-info
*.log
*.bak
*.tmp
*.swp
.DS_Store
.vscode
.env
.env.*
*.env
*.pem
*.key
*.crt
*.pfx
*.jks
*.keystore
*.db
*.sqlite
*.sql
*.zip
*.tar.gz
*.tar
*.7z
*.swo
*.swn
OptiGestion.spec